.imgStyle{
    width: 80%;
    height: 80%;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 10px;
}
.button{
    width: 100%;
    align-items: center;
   justify-content: center;
   padding: 0px;
    height: 30px;
   margin: 0px;

}
.buttonSize{
    align-items: center;
    justify-content: center; 
 }