<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-input type="text" value="" placeholder="Username"></ion-input>
      </ion-item>
    
      <ion-item>
          <ion-input type="text" value="" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" value="" placeholder="Address"></ion-input>
          </ion-item>
          <ion-item>
              <ion-input type="text" value="" placeholder="Phone"></ion-input>
            </ion-item>
          
                        

  
</ion-content>
<ion-footer >

    <ion-item class="buttonSize">
        <button item-center default class="button">
          Register
        </button>
      </ion-item>    
      </ion-footer>
